.badge {
  margin: 10px;
  z-index: 0;
  position: relative;
}

.single {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 3px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.poster {
  border-radius: 8px;
  background: linear-gradient(rgba(32, 30, 30, 30));
}

.title-name {
  position: absolute;
  margin-bottom: 0px;
  color: white;
  align-items: center;
  bottom: 0px;
  right: 0;
  left: 0;
  width: 100%;
}

.text {
  margin: auto;
  width: 97%;
  text-align: center;

  background-image: linear-gradient(
    to bottom,
    rgba(32, 32, 32, 0.01),
    rgba(0, 0, 0, 1)
  );
}
