.header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: blanchedalmond;
  padding: 10px;
  font-size: 5vw;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 5px 2px 10px grey;
}
