* {
  scroll-behavior: smooth;
  margin: 0;
}

.App {
  background-color: rgb(158, 190, 216);
  min-height: 100vh;
  padding-top: 8vw;
  padding-bottom: 80px;
}

@media (max-width: 700px) {
  .App {
    padding-top: 50px;
  }
}
